.hello-content {
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    width: 10em;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 5px gray;
    text-align: center;
}
